<?php

return [
    'url' => 'https://api.twitter.com/1.1/search/tweets.json',
    'query_string' => '?result_type=recent&count=15&include_entities=false',
    'query' => '#php',
    'method' => 'GET',

    'censored_words' => [
        'trade',
    ],
];
